@import "tailwindcss";

::selection {
  background-color: #564949; /* light beige */
  color: #f5f0e1; /* dark brown text */
}

@theme {
  /* Primary Brand Colors */
  --color-primary: #4b2e2e; /* Main brand color */
  --color-secondary: #7b4f4f; /* Bold headings / highlights */
  --color-subheading: #0f4c5c;

  /* Text Colors */
  --color-body-text: #1e1e1e; /* Paragraphs, labels, body text */
  --color-white: #ffffff; /* White text or backgrounds */

  /* Backgrounds */
  --color-bg-light: #f7f2eb; /* Light beige background */
  --color-bg-dark: #c9b8a4; /* Deep beige for sections/cards */

  /* Accent Colors */
  --color-accent: #c9a86a; /* Soft gold accent */
  --color-accent-light: #e6d7b9; /* Light gold / subtle highlights */

  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards)
    linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@utility green-beige-gradient {
  background: linear-gradient(145deg, #0b3d2e, #0f5e49, #e7d9c4);
}

@utility green-gold-gradient {
  background: linear-gradient(135deg, #0b3d2e, #0f5e49, #c9a86a);
}

@utility font-heading {
  font-family: var(--font-playfair);
}

@utility font-body {
  font-family: var(--font-inter);
}

@utility font-monos {
  font-family: var(--font-montserrat);
}

@utility font-button {
  font-family: var(--font-montserrat);
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.25s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

p,
h3,
h4,
h5 {
  font-family: var(--font-inter);
}
h1,
h2 {
  font-family: var(--font-playfair);
}
